<div class="row">
  <div class="col-md-2">
    <!-- empty -->
  </div>
  <!-- item -->
  <img class="col-md-4" src="http://static.massimodutti.net/3/static2/img/cabeceras_parrillas/2016/men/nuevo/new_men_web.jpg?20160324041000" width="100%" height="100%" />
  <div class="item-tag-detail">
    Camasa slim cu imprimeu <br>
    ----- 200 lei -----
  </div>
  <div class="col-md-2">
    <!-- empty -->
  </div>
</div>
