/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

*{
  transition: 2s;
  a:hover{
    text-decoration: none;
  }
  a{
    color: #000000;
  }
}

.row{
  margin-bottom: 3em;
}

.header-menu{
  text-align: center;
  @extend .col-md-1;
  a{
    color: #aaaaaa;
  }
}

.col-md-2{
  padding-top: 2.5px;
  .search-box{
    outline: none;
    border: none;
  }
}

.footer-links{
  a{
    color: #fff;
  }
  @extend .col-md-2;
}

.footer{
  text-align: center;
  .footer-apps{
    height: 100px;
    background-color: #dddddd;
    padding-top: 35px;
    @extend .col-md-4;
  }
}
